<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='styles.css') }}" rel="stylesheet">
</head>
<body class="bg-gray-200">
    <div class="container mx-auto p-4">
        <header>
        </header>
        <nav>
            <ul>
                <li><a href="/"></a></li>
                <!-- Add more navigation links as needed -->
            </ul>
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <!-- Add footer content if needed -->
        </footer>
    </div>
</body>
</html>
