{% extends "base.html" %}

{% block content %}
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
    {% for image in images %}
        <div class="bg-white shadow rounded-lg overflow-hidden">
            <img src="{{ image }}" alt="Image" class="w-full h-48 object-cover">
        </div>
    {% endfor %}
</div>
{% endblock %}
