<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Permissions-Policy" content="ch-ua-form-factor=(viewport-width, width)">

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link href="{{ url_for('static', path='styles.css') }}" rel="stylesheet">
    <title>JNO DriveThru App</title>
</head>
<body class="bg-gray-200">
    <div class="container mx-auto p-4">
        <div id="template-content">
        </div>
    </div>
<script>
    const contentDiv = document.getElementById('template-content');

    function switchTemplate(switchSelector){
        if(!isNaN(switchSelector)){
            const templateName = switchSelector % 2 == 0 ? 'video_streamer.html' : 'image_gallery.html';
            console.log(`Swiching template to: ${templateName}`)
            fetch(`/template/${templateName}`)
                .then(response => response.text())
                .then(html => {
                    contentDiv.innerHTML = html;
                });
        }
    }

    function main() {
        fetch('/gpio_stream')
        .then((response) => {
            if (response.status === 200) {
            const reader = response.body.getReader();

            const readChunk = () => {
                return reader.read().then(({ done, value }) => {
                if (done) {
                    console.log('Stream ended.');
                    return;
                }
                const chunkText = new TextDecoder('utf-8').decode(value);
                const streamedValue = parseFloat(chunkText);
                switchTemplate(streamedValue)

                // Continue reading the next chunk
                return readChunk();
                });
            };
            
            return readChunk();
            } else {
            console.error(`Failed to retrieve data. Status code: ${response.status}`);
            }
        })
        .catch((error) => {
            console.error('Error:', error);
        })
    }

    // Update the template initially and every 1000ms (1 second)
    main();
</script>
</body>
</html>
