{% extends "base.html" %}

{% block content %}
<div class="h-screen flex flex-col">
    <!-- Top section with full-screen video -->
    <iframe
        class="h-3/4 w-full"
        src="{{ stream_url }}"
        frameborder="0"
        autoplay
        allowfullscreen>
    </iframe>

    <!-- Bottom section with a list of text in an unordered list format -->
    <div class="flex-grow overflow-y-auto p-4">
        <h2 class="text-2xl font-semibold">List of Text</h2>
        <ul class="list-disc pl-4">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <!-- Add more list items as needed -->
        </ul>
    </div>
</div>
{% endblock %}
